<div id="banner">
	<div id="cols1">
		<p class="byline">Menu Devices</p>
		<h2></h2>
	</div>
	<div id="cols2">
		
	</div>
</div>

<% flash.each do |key, value| %>
	<div class="flash <%= key %>"><%= value %></div>
<% end %>
