<div id="banner">
	<div id="cols1">
		<p class="byline">Create your tablet menu</p>
		<h2>starts at $5/month</h2>
	</div>
	<div id="cols2">
		<p class="link">Sign Up Today</p>
	</div>
</div>

<% flash.each do |key, value| %>
	<div class="flash <%= key %>"><%= value %></div>
<% end %>
