<table class="profile" summary="Profile information"> 
	<tr>
		<td class="main"> <h1>
			<%= @user.company %> </h1>
		</td>
		<td class="sidebar round">
			<strong>Name</strong> <%= @user.company %><br />
  		</tr>
</table>