<div id="banner">
	<div id="cols1">
		<p class="byline">Create your tablet menu</p>
		<h2>starts at $5/month</h2>
	</div>
	<div id="cols2">
		<p class="link">Sign Up Today</p>
	</div>
</div>

<iframe src="http://www.facebook.com/plugins/like.php?href=YOUR_URL"
        scrolling="no" frameborder="0"
        style="border:none; width:450px; height:80px"></iframe>

<% flash.each do |key, value| %>
	<div class="flash <%= key %>"><%= value %></div>
<% end %>
