<div id="parts" aling="left">
	
</div>
<div id="leftpart" align="left">
	<div id="welcome"><%= @title %></div>
	<div id="welcometxt">
		Lorem ipsum dolor sit amet, conscingLorem ipsum sectetuer adipiscingLorem ipsum dolor sit amectuer adipiscing elit. Quisque sed fel 	amet felis. Mauris semper, velit semper felis. Mauris semper, velit semper laoreet dictum, quam diam dictum urna Lorem ipsum dolor sit amet sectetuer adipiscingLorem...
	</div>
</div>
<div id="rightpart" align="left">
	<div id="testi" align="center">
	<div id="testipic"><img src="stylesheets/images/testpic.gif" alt=""></div>
	<div id="testibox">
	<div id="testitxt">
	“Now our customers don't want to give our menus back”
	</div><!--testitxt -->
	<div id="testiurl"> Sandra  | Olive Garden</div>

	<div id="testitxt02">
	“Greatest thing since the potato cutter”
	</div><!--testitxt02 -->
	<div id="testiurl02"> Lauren  | Moxies</div>
	</div><!--testibox -->


	</div>
</div>

