<%= render 'banner' %>

<div id="bg7">
	<div id="bg8">
		<div id="bg9">
			<div id="content">
				<div id="two-columns">
					<div id="colA">
						<p>aliquam sed dolore blandit nullam?</p>
					</div>
					<div id="colB">
						<p>Vivamus non metus ut diam posuere eleifend. Morbi nullam justo dapibus consectetur imperdiet, et massa tempor lacus, et egestas ante est ut dolor. Vestibulum et massa.</p>
					</div>
				</div>
				<div id="twocol-content">
					<div id="col1" class="box-style2">
						<div class="image-style1 image-style1a"><img src="images/pics05.jpg" width="320" height="120" alt="" /><span></span></div>
						<div class="content">
							<h3 class="title">Sed dolore vivamus non metus</h3>
							<p>Phasellus ut adipiscing velit. Praesent amet nisl massa, at posuere tellus. Nullam urna nisl, suscipit. Vivamus non metus posuere eleifend. Morbi hendrerit, justo consectetur imperdiet.</p>
							<div class="link">
								<p><span class="text1">Aliquam sed dolore? </span><span class="more"><a href="#">Learn more</a></span></p>
							</div>
						</div>
					</div>
					<div id="col2" class="box-style2">
						<div class="image-style1 image-style1a"><img src="images/pics06.jpg" width="320" height="120" alt="" /><span></span></div>
						<div class="content">
							<h3 class="title">Amet consequat sed lorem</h3>
							<p>Sed nisl massa, at posuere tellus. Nullam urna nisl, sollicitudin in nisl. Vivamus non metus ut diam eleifend. Morbi hendrerit, justo dapibus imperdiet in lorem nullam sed ipsum dolore etiam.</p>
							<div class="link">
								<p><span class="text1">Consequat lorem ipsum? </span><span class="more"><a href="#">Learn more</a></span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="sidebar">
				<div id="box1">
					<h3 class="title">Ipsum sed consequat?</h3>
					<div class="image-style2 image-style2a"><img src="images/pics07.jpg" width="180" height="56" alt="" /><span></span></div>
					<p>Nullam urna nisl suscipit id amet nullam in nisl. Sed et blandit lorem ipsum nullam.</p>
					<p class="link1"><a href="#">Morbi amet lacus</a></p>
				</div>
				<div id="box2">
					<h3 class="title">Aliquam nullam metus?</h3>
					<div class="image-style2 image-style2a"><img src="images/pics07.jpg" width="180" height="56" alt="" /><span></span></div>
					<p>Nam luctus leo vitae urna ullamDonec ullamcorper tincidunt scelerisque.</p>
					<p class="link1"><a href="#">Morbi amet lacus</a></p>
				</div>
			</div>
			<div class="clearfix">&nbsp;</div>
		</div>
	</div>
</div>
