<div id="smalltoplinks01">
	<a><%= link_to "sign up", :signup %></a> 
	<% if signed_in? %>
		<a><%= link_to "log off", :signout %></a> 
	<% else %>
		<a><%= link_to "log in", :signin %></a> 
	<% end %>
</div>