<%= render 'banner-restaurant' %>

<div id="bg4">
	<div id="bg5">
		<div id="bg6">
			<div id="wide-content" class="box-style1">
					<%= render 'restaurant-show' %>
			</div>
		</div>	
	</div>
</div>