<div id="footer-wrapper">
	<div id="bg1" class="container">
		<div id="bg2">
			<div id="bg3">
				<div id="four-columns">
					<div id="column1">
						<h2>Diam sed consequat</h2>
						<ul class="style1">
							<li class="first"><a href="#">Aenean dolore condimentum</a></li>
							<li><a href="#">Velit fusce et consequat quis leo</a></li>
							<li><a href="#">Dignissim suscipit elit ornare</a></li>
							<li><a href="#">Pretium facilisis felis eros aliquet</a></li>
							<li><a href="#">Integer et diam magna dictum</a></li>
						</ul>
					</div>
					<div id="column2">
						<h2>Justo nullam dapibus</h2>
						<ul class="style1">
							<li class="first"><a href="#">Aenean dolore condimentum</a></li>
							<li><a href="#">Velit fusce et consequat quis leo</a></li>
							<li><a href="#">Dignissim suscipit elit ornare</a></li>
							<li><a href="#">Pretium facilisis felis eros aliquet</a></li>
							<li><a href="#">Integer et diam magna dictum</a></li>
						</ul>
					</div>
					<div id="column3">
						<h2>Suscipit ultrices lorem</h2>
						<ul class="style1">
							<li class="first"><a href="#">Aenean dolore condimentum</a></li>
							<li><a href="#">Velit fusce et consequat quis leo</a></li>
							<li><a href="#">Dignissim suscipit elit ornare</a></li>
							<li><a href="#">Pretium facilisis felis eros aliquet</a></li>
							<li><a href="#">Integer et diam magna dictum</a></li>
						</ul>
					</div>
					<div id="column4">
						<h2>Urna donec praesent</h2>
						<p>Sed nisl massa, at posuere tellus. Nullam urna nisl, suscipit id ultrices in, sollicitudin in nisl. Morbi hendrerit sed consectetur sed imperdiet et lorem etiam ipsum.</p>
						<ul class="style2">
							<li><a href="#"><img src="images/homepage15.jpg" width="32" height="32" alt="" /></a></li>
							<li><a href="#"><img src="images/homepage16.jpg" width="32" height="32" alt="" /></a></li>
							<li><a href="#"><img src="images/homepage17.jpg" width="32" height="32" alt="" /></a></li>
							<li><a href="#"><img src="images/homepage18.jpg" width="32" height="32" alt="" /></a></li>
							<li><a href="#"><img src="images/homepage19.jpg" width="32" height="32" alt="" /></a></li>
						</ul>
					</div>
					<div class="clearfix">&nbsp;</div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer" class="container">
		<p>Copyright (c) 2011 Mywebsite. All Rights Reserved. Lorem ipsum dolor sit amet nullam.</p>
	</div>
</div>
