<div id="header" align="left">
	<div id="headertxt01">
		Enduring Your Business Success
	</div>
	<div id="headertxt02"> 
		Lorem ipsum dolor sit amet, conscingLorem ipsum sectetuer 
	      adipiscingLorem ipsum dolor sit amet, consectetquer adipiscing elit. semper 
	      felis. Mauris semper, velit semper laoreet dictum, quam diam dictum urna Lorem ipsum dolor sit amet, conscingLorem ipsum sectetuer... 				<br><br>
	      <a href="#">Readmore</a> 
	</div>
</div>