<div id="topbar" align="left">
	<%= render 'layouts/topbar-layout/smalltoplinks'%>
	<%= render 'layouts/topbar-layout/smalltoplinks01'%>
	<%= render 'layouts/topbar-layout/logo'%>
	<%= render 'layouts/topbar-layout/punchline'%>
</div>
